<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CollatedCoral</title>
    <%= csrf_meta_tags %>

    <meta property="og:site_name" content="Collated Coral">
    <meta property="og:title" content="Collated Coral">
    <meta property="og:description" content="Collated Coral is a filterable database of coral projects">
    <meta property="og:url" content="http://collatedcoral.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="" >
    <meta property="og:image:alt" content="" >
    <meta property="og:image:width" content="" >
    <meta property="og:image:height" content="" >

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="Collated Coral">
    <meta name="twitter:title" content="Collated Coral">
    <meta name="twitter:description" content="Collated Coral is a filterable database of coral projects">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:alt" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env == 'production' %>
      <%= render 'shared/google_analytics' %>
    <% end %>

  </head>

  <body>
    <div id="v-app" class="relative">
      <%= render "global/header" %>

      <%= yield %>

      <%= render "global/footer" %>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
