<!DOCTYPE html>
<html>
  <head>
    <title>CollatedCoral</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     
    <script src="https://use.fontawesome.com/49e2c60c0f.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="v-app">
      <%= yield %>
    </div>
    
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
